

.banner{
  background-color: #507DBC;
  color: white;
}

.navbar{
  padding-left: 0px;
  margin-left: 0px;
}

.content{
  background-color: #DAE3E5;
}


.box{
  width: auto;
  height: 100px;
  border: 1px solid black;
  margin: 2%;
}

.navbtn{
  background-color: #507DBC;
  color: white;
  width: 300px;
}