

.banner{
  background-color: #507DBC;
  color: white;
}

.navbar{
  padding-left: 0px;
  margin-left: 0px;
}

.content{
  background-color: #DAE3E5;
  box-sizing: border-box;
}


.box{
  max-width: 100%;
  height: auto;
  border: 3px solid black;
  margin: 2%;
}

.navbtn{
  background-color: #507DBC;
  color: white;
  width: 300px;
}

p{
color: black;
font-weight: bolder;
font-size: large;

}