

.banner{
  background-color: #507DBC;
  color: white;
}

.navbar{
  padding-left: 0px;
  margin-left: 0px;
}

.content{
  background-color: #DAE3E5;
  box-sizing: border-box;
}


.box{
  max-width: 100%;
  height: auto;
  border: 3px solid black;
  margin: 2%;
}

.navbtn{
  background-color: #507DBC;
  color: white;
  width: 300px;
}

p{
color: black;
font-weight: bolder;
font-size: large;

}

h6{
  text-align: center;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.leftPush{
  margin-left: 40px;
}

.shadow{
  box-shadow: 5px 10px 15px black;
}

.smallBox{
  font-size: 20px;
  padding: 20px;
  border: 2px solid black;
  margin: 20px;
  background-color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}